@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');


#mainContainer{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

#title{
    font-family:Inter;
    color: white;
    font-size:300%;
    margin-bottom:0;
}

#slogan{
    font-family:Inter;
    font-size:250%;
    color:#363844;
    margin-top:0;
}

#upperCircle{
    position:absolute;
    top:0%;
    left:0%;
}

#lowerCircle{
    position:absolute;
    bottom:0%;
    right:0%;
    transform:rotate(180deg);
}
